:root {
  --navbar: aqua;
  --background: black;
}

/* Tanda bintang berarti untuk semua class yang ada diindex.html */
* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  /* agar scroll menjadi smoot/pelan */
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", "Roboto";
  background-color: var(--background);
  color: #fff;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--navbar);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .logo span {
  color: yellow;
}

.navbar .menu-navbar a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}
.navbar .menu-navbar a:hover {
  color: var(--navbar);
}
.navbar .menu-navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--navbar);
  transform: scaleX(0);
}
.navbar .menu-navbar a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}
.navbar .pencarian a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .pencarian a:hover {
  color: var(--navbar);
}
/* navbar search/ pencarian form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 40rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.4s;
}
.navbar .search-form.active {
  transform: scaleY(1);
}
.navbar .search-form #search-box {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--navbar);
  padding: 1rem;
}
.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
#humberger-menu {
  display: none;
}
/* home section */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../gambar/wp1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* gradasi */
.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(63, 63, 66) 10%,
    rgba(14, 12, 12, 0) 25%
  );
}
.home .judul {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.home .judul h1 {
  font-size: 5rem;
  color: aqua;
  text-shadow: 1px 1 px 3px rgba(1, 1, 1, 0.5);
  line-height: 1;
}
.home .judul h1 span {
  color: yellow;
}
.home .judul p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 500;
}
.home .judul .calltoaction {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 2.5rem;
  font-size: 1.4rem;
  background-color: var(--navbar);
  border-radius: 0.5rem;
  color: black;
  text-shadow: 1px 1 px 3px rgba(255, 255, 255, 0.5);
}
.home .judul .calltoaction:hover {
  background-color: yellow;
}
/* about section start */
.about {
  padding: 8rem 10% 1.4rem;
  background: radial-gradient(#383836, #0c0f0f);
}
.about h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.about h2 span {
  color: aqua;
}
.about .row {
  display: flex;
}
.about .row .gambar {
  flex: 1 1 20rem;
}
.about .row .gambar img {
  width: 100%;
}
.about .row .konten {
  flex: 1 1 30rem;
  padding: 0.1rem;
}
.about .row .konten h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about .row .konten h3 span {
  color: yellow;
}
.about .row .konten p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 200;
  line-height: 2rem;
}
.about .row1 {
  display: flex;
}
.about .row1 .gambar1 {
  flex: 1 1 45rem;
}
.about .row1 .gambar1 {
  flex: 1 1 20rem;
}
.about .row1 .gambar1 img {
  width: 100%;
}
.about .row1 .konten1 {
  flex: 1 1 30rem;
  padding: 0.1rem;
}
.about .row1 .konten1 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about .row1 .konten1 h3 span {
  color: rgb(236, 61, 7);
}
.about .row1 .konten1 p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 200;
  line-height: 2rem;
}
/* about section end */
/* Skill section start */
.skill {
  padding: 8rem 10% 3rem;
  background: radial-gradient(#070705, #3e3f3f);
}
.skill h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: coral;
}
.skill p {
  display: flex;
  text-align: center;
  line-height: 1rem;
  padding: 2rem;
}
.box {
  display: flex;
  text-align: justify;
  justify-content: space-around;
}
.box p {
  padding: 1rem;
  text-align: center;
}
.box h3 {
  padding: 1rem;
  text-align: center;
}
.box1,
.box2,
.box3 {
  background-color: azure;
  color: black;
  width: 22rem;
  height: 22rem;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.box1 h3 span {
  color: red;
  text-shadow: 3px 2px 3px black;
}
.box2 h3 span {
  color: yellow;
  text-shadow: 3px 2px 3px black;
}
.box3 h3 span {
  color: greenyellow;
  text-shadow: 3px 2px 3px black;
}
/* Skill section end */
/* contact section start */
.kontak {
  padding: 8rem 10% 1rem;
  background: radial-gradient(#383836, #0c0f0f);
}
.kontak h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: yellowgreen;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid wheat;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 0.5rem;
  margin-bottom: 1rem;
  resize: vertical;
}
input[type="submit"] {
  background-color: aqua;
  color: #070705;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: yellowgreen;
}
input:active {
  transform: scale(1.4);
}
/* footer */
footer {
  background-color: coral;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .sosial {
  padding: 1rem 0;
}
footer .sosial a {
  color: #fff;
  margin: 1rem;
}
footer .sosial a:hover {
  color: #010101;
}
footer .link {
  margin-bottom: 1.5rem;
}
footer .link a {
  color: #010101;
  padding: 2rem 1rem;
}
footer .link a:hover {
  color: blue;
}
footer .credit span {
  color: #010101;
  font-weight: bold;
}
/* dibawah ini responsif display selain dekstop */
/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }
  #humberger-menu {
    display: inline-block;
  }
  .navbar .menu-navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .menu-navbar.active {
    right: 0;
  }
  .navbar .menu-navbar a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar.menu-navbar a::after {
    transform-origin: 0 0;
  }
  .navbar.menu-navbar a:hover:after {
    transform: scaleX(0.2);
  }

  .about .row {
    /* untuk menurunkan teks dibawah gambar */
    flex-wrap: wrap;
  }
  .about .row .gambar img {
    height: 20rem;
    /* agar gambar tidak tertarik */
    object-fit: cover;
    object-position: center;
  }
  .about .row .gambar h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .konten p {
    font-size: 1.3rem;
  }
  .about .row1 {
    /* untuk menurunkan teks dibawah gambar */
    flex-wrap: wrap;
  }
  .about .row1 .gambar1 img {
    height: 20rem;
    /* agar gambar tidak tertarik */
    object-fit: cover;
    object-position: center;
  }
  .about .row1 .konten h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row1 .konten1 p {
    font-size: 1.3rem;
  }
  /* skill section */
  .skill .box {
    /* untuk menurunkan teks dibawah gambar */
    flex-wrap: wrap;
    height: 70rem;
  }
  .skill .box h3 {
    margin-top: 1rem;

    font-size: 2rem;
  }
  .box .box1,
  .box2,
  .box3 {
    font-size: 1rem;
  }
  .kontak {
    flex-wrap: wrap;
  }
  .contact .contact-section {
    height: 30rem;
  }

  /* HP */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }
}
